.screenContainer {
  overflow: scroll;
  width: 100vw;
  height: 100svh;
  scroll-snap-type: y mandatory;
  max-width: 720px;
  margin: 0 auto;
}

.screen {
  width: 100vw;
  height: 100svh;
  scroll-snap-align: start;
  max-width: 720px;
}

.contentContainer {
  display: flex;
  padding: 20px 40px;
  gap: 20px;
}
