.screenContainer {
  overflow: scroll;
  width: 100vw;
  height: 100svh;
  scroll-snap-type: y mandatory;
  max-width: 720px;
  margin: 0 auto;
}

.screen {
  width: 100vw;
  height: 100svh;
  scroll-snap-align: start;
  max-width: 720px;
}

.lastScreen {
  width: 100vw;
  height: 200svh;
  scroll-snap-align: start;
  max-width: 720px;
}

.contentContainer {
  display: flex;
  flex-direction: column;
  padding: 40px 20px;
  gap: 20px;
}

.sectionContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 40px 0;
}
