.brideAndGroom {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.dotContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4px;
}

.dot {
  height: 4px;
  width: 4px;

  background-color: #e0e0e0;
  border-radius: 4px;
}

.text {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  /*  */
}
